
body{
    background-color: rgb(71, 71, 71);
}
form{
	color: black;
	background-color: #d1d1d1;
	width: 500px;
    height: 200px;
	text-align: center;
	margin: auto;
	padding: auto;
    padding-top: 50px;
	border-radius: 8px;
	border-bottom: 0.1em solid #ffffff;
}

form input{
	border-radius: 5px;
	width: 250px;
}

form button{
	width: 80px;
	border-radius: 5px;
	
}
@media screen and (max-width: 600px) {
	article{
		margin: 0;
	}
  }